.navbar-container{
    width: 100vw;
    /* Retirar Background-Color posteriormente */
    background-color: rgba(255,255,255,0.3); 
    height: 60px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(12px) saturate(1.2);
    position: fixed;
    top: 0%;
}

.navbar-content{
    width: 100vw;
    max-width: 1300px;
    height: 60px;
    align-items: center;
    display: flex;
    margin: 0 50px 0 50px;
    justify-content: space-between;
}

.navbar-content-center{
    width: 100%;
    max-width:fit-content;
    display:flex;
    flex-direction: row;
    gap: 40px;
}

a {
    color:#000000;
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    color: #ffffff;
}

a:active{
    color: green;
}



