.navbar-container{
    width: 100%;
    background-color: red;
    height: 55px;
    display: flex;
    justify-content: center;
}

.navbar-content{
    width: 100%;
    max-width: 1300px;
    background-color: green;
    height: 55px;
    align-items: center;
    display: flex;
    margin: 0 50px 0 50px;
    justify-content: space-between;

}

.navbar-content-center{
    width: 100%;
    max-width:fit-content;
    display:flex;
    flex-direction: row;
    gap: 20px;
}

.navbar-item {
    background-color: #ffffff;
}

.navbar-item:hover {
    color: #ffffff;
}


