.title-container{
    align-items: center;
    margin-top: 300px;
    margin-bottom: 300px;
    font-weight: bolder;
    background-color: blueviolet !important;
}

.title-layout{
    width: 1000px;
    background: red;
    margin: 0 0 0 0;
}

.h1-style{
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.h2-style{
    font-size: 90px;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    font-weight: 100;
}

